.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --background-color: #ffffff; /* light mode background */
  --text-color: #333333; /* light mode text color */
  --link-color: #007bff; /* light mode link color */
  --button-background: #007bff; /* light mode button background */
  /* Add more variables as needed */
}

/* Dark mode */
.dark-mode {
  --background-color: #333333; /* dark mode background */
  --text-color: #ffffff; /* dark mode text color */
  --link-color: #4ecdc4; /* dark mode link color */
  --button-background: #4ecdc4; /* dark mode button background */
  /* Adjust other variables for dark mode */
}
